*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}

body, html{
    height: 100%;
}

#parent-cont{
    display: grid;
    grid-template-columns: 35% 65%;
    height: 100%;
    width: 100%;
}

#image {
    flex: 35%;
    height: 100%;
    position: relative;
}

#image > .leaf {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    width: 100%;
    background: black;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    top: 8rem;
    text-align: center;
    z-index: 1000;
}

.objs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.objs > p{
    font-size: 100px;
    font-family: 'Voltaire', sans-serif;
}

.objs > .imgOdin {
    max-width: 170px;
    max-height: 170px;
    align-self: center;
    object-fit: contain;
}

#signup{
    display: grid;
    grid-template-rows: 30% 40% 30%;
    height: 100%;
    width: 100%;
}

#signup > .top{
    background-color: #f7f7f7;
}

.text > p{
    margin: 5%;
    font-size: 24px;
    text-align: left;
}

#signup > .mid {
    background-color: white;
    position: relative; /* Add position relative to the .mid container */
}

#signup > .mid::before,
#signup > .mid::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 10px; /* Adjust the height of the shadow */
    background: rgba(0, 0, 0, 0.005);
}

#signup > .mid::before {
    top: -10px; /* Shadow on the top side */
}

#signup > .mid::after {
    bottom: -10px; /* Shadow on the bottom side */
}

#signup > .low{
    background-color: #f7f7f7;
}

.action > button{
    margin-top: 2%;
    margin-left: 3%;
    background-color: darkolivegreen;
    color: #f7f7f7;
    width: 15vw;
    height: 4vh;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border: transparent;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    margin: 1%;
}

.formTxt{
    padding-left: 10px;
}

.form > .divTop,
.form > .divMid,
.form > .divLow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.form > .divTop > div,
.form > .divMid > div,
.form > .divLow > div {
    flex: 1;
    margin-right: 100px; 
    margin-top: 12px;
}

.form > .divTop > div:last-child,
.form > .divMid > div:last-child,
.form > .divLow > div:last-child {
    margin-right: 0;
}

.form label {
    font-size: 16px;
}

.form input[type="text"] {
    width: 300px;
    padding: 8px;
    font-size: 12px; 
    border-radius: 5px;
    border: 1px solid #ccc;

}

.action > p{
    margin-top: 3%;
    margin-left: 3%;
}